/*
    font-family: 'Recursive', sans-serif;
    font-family: 'Righteous', 'cursive';
*/

* {
    box-sizing: border-box;
}

.red {
    color: #FF3030;
}
.red-back {
    background-color: #FF3030;
}

.green {
    color: #2FBE34;
}
.green-back {
    background-color: #2FBE34;
}

.yellow {
    color: #FF922E;
}
.yellow-back {
    background-color: #FF922E;
}

.root {
    width: 100%;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FB6B6B;
}

ion-icon {
    font-size: 20px;
}

.screen1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.screen1 img {
    width: 55px;
    height: 65px;
}

.screen1 h1 {
    font-family: 'Righteous', 'cursive';
    color: #FFFFFF;
    font-size: 25px;
    margin: 10px 0 75px 0;
}

.screen1 button {
    width: 75%;
    height: 31px;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-family: 'Recursive', sans-serif;
    font-size: 12px;
    color: #D70900;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.screen2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 86px;
}

header h1 {
    font-family: 'Righteous', 'cursive';
    font-size: 20px;
    color: #FFFFFF;
}

header img {
    width: 32px;
    margin-right: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    z-index: 2;
    font-family: 'Recursive', sans-serif;
}

footer .aviso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
    text-align: center;
}

footer h4 {
    font-size: 12px;
    width: 150px;
    text-align: center;
}

footer img {
    width: 20px;
}

footer .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info {
    height: 60px;
}

.extend {
    height: 115px;
    padding: 10px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 60px;
}

.finish {
    margin-bottom: 115px;
}

.card {
    display: flex;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    padding: 10px 10px;
    font-size: 12px;
}

.card h2 {
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
}

.card span {
    width: 100%;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    color: #000000;
}

.open {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 45px;
    background-color: #FFFFFF;
}

.question {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 92%;
    height: 90px;
    background-color: #FFFFD4;
}

.anwser {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 92%;
    height: 90px;
    background-color: #FFFFD4;
}

.botoes {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.botoes button {
    height: 100%;
    width: 32%;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}

.closed {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 45px;
    background-color: #FFFFFF;
}

.hidden {
    display: none !important;
}