* {
    box-sizing: border-box;
}

.red {
    color: #FF3030;
    background-color: #FF3030;
}

.green {
    color: #2FBE34;
    background-color: #2FBE34;
}

.yellow {
    color: #FF922E;
    background-color: #FF922E;
}

/*
    font-family: 'Recursive', sans-serif;
    font-family: 'Righteous', 'cursive';
    font-family: 'Roboto', sans-serif;
*/

.root {
    width: 100%;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FB6B6B;
}

.screen1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.screen1 img {
    width: 55px;
    height: 65px;
}

.screen1 h1 {
    font-family: 'Righteous', 'cursive';
    color: #FFFFFF;
    font-size: 25px;
    margin: 10px 0 75px 0;
}

.screen1 button {
    width: 75%;
    height: 31px;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-family: 'Recursive', sans-serif;
    font-size: 12px;
    color: #D70900;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.screen2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.top h1 {
    font-family: 'Righteous', 'cursive';
    font-size: 20px;
    color: #FFFFFF;
}

.top img {
    width: 32px;
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.card {
    display: flex;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    padding: 10px 10px;
    font-size: 12px;
}

.card ion-icon {
    font-size: 20px;
}

.card h2 {
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
}

.card span {
    width: 100%;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    color: #000000;
}

.open {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 45px;
    background-color: #FFFFFF;
}

.question {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 92%;
    height: 90px;
    background-color: #FFFFD4;
}

.anwser {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 92%;
    height: 90px;
    background-color: #FFFFD4;
}

.botoes {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.botoes button {
    height: 100%;
    width: 32%;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}

.closed {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 45px;
    background-color: #FFFFFF;
}

.hidden {
    display: none;
}